*{
  margin: 0;
  padding: 0;
}
main{
  flex-grow: 1;
}
p {
  margin: 0 auto;
  text-align: center;
}
body{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #072142;
  min-height: 100vh;
}
a{
  text-decoration: none;
}
