{% extends "layout.html" %}
{% block content %}
<main class = "information-about-me">
  <div class="container">
    <div class="introduction">
      <h2 class="information-title">Who Am I?</h2>
      <p class = "intro"> Hello my name is Isaac Xu and I am pursuing 
        Bachelors of Science in Computer Science at Texas A&M University.
        I am currently still exploring on to focus on, but in the meantime
        I have been enjoying learning new algorithms and exploring the world
        of user experience and product design.
      </p>
      <p class="free-time">
        In my free time, I enjoy reading, watching dramas,
        and going for walks whilst listening to my favorite and new songs.
      </p>
    </div>

    <div class="positions">
      <h2 class="information-title">
        My Experience
      </h2>
      <h3 class="experience">
        Undergradute Student assistant for ENGR 102
      </h3>
        <p class="timeline"> 
          August 2024-Present
        </p>
        <ul>
          <li class="experience-commentary">
            Help facilitate students' introduction to core concepts of Python.
          </li>
          <li class="experience-commentary">
            Work 1-1 with 20 students/week in lab, office hours, on-request.
          </li>
          <li class="experience-commentary">
            Organize grading schedule to produce quick feedback within a week.
          </li>
        </ul>
    </div>
  </div>
  <div class="resume">
    <h2 class="resume-information">My Resume</h2>
    <iframe class="resume-pdf" src="https://drive.google.com/file/d/1DjFPUyMbajZPE99OCYmu6KGK5DrStqti/preview"></iframe>
  </div>
</main>
{% endblock content %}