{% extends "layout.html" %}
{% block content %}
<main>
  <div class="contact-intro">
    Contact me at <a class="email-link" href="mailto:isaacxu2005@gmail.com" >isaacxu2005@gmail.com</a>, either of the links below, or use this form below!
  </div>
  <form class="contact-information">
    <p class="contact-inf">Name</p>
    <input class="contact-name" placeholder="Name" id="name" required>
    <p class="contact-inf">Email</p>
    <input class="contact-email" type="email" placeholder="Email" id="email" required>
    <p class="contact-inf">Subject</p>
    <input class="contact-subject" placeholder="Subject" id="subject" required>
    <p class="contact-inf">Message</p>
    <textarea class="form" rows="10" placeholder="Message" id="message" required></textarea>
    <button type="submit" class="submit-button" onclick="sendMail()">Submit</button>
  </form>

</main>
{% endblock content %}